* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #FFFFFF;
  --timer-color: #323238;
  
  /*card songs idle*/
  --bg-card-idle: #E1E1E6;
  --icon-card-idle: #323238;

  /*card songs active*/
  --bg-card-active: #02799D;
  --icon-card-active: #FFFFFF;

  font-size: 62.5%;
}

body {
  background-color: var(--bg-color);

  font-family: 'Roboto', sans-serif;

  display: grid;
  min-height: 100vh;
}

main {
  display: flex;
  align-self: center;
  justify-self: center;
}

#wrapper-timer{
  align-self: center;
  justify-self: center;

  margin-right: 19.2rem;
}

#controls-timer{
  display: flex;
  justify-content: space-between;
}

/*cronometro*/
#timer {
  color: var(--timer-color);
  font-size: clamp(5rem, 5rem + 10vw, 11.8rem);
  
  display: flex;
  margin-bottom: 1.6rem;
}

/*botões do controle do timer*/
#controls-timer button{
  background-color: transparent;
  border: none;
  
  cursor: pointer;
  
  width: 4.8rem;
  height: 4.8rem;
}

#sound-controls{  
  align-self: center;
  justify-self: center;

  padding: 15px;
  width: 33rem;
  height: 38rem;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

button{ /*sound-controls*/
  background-color: var(--bg-card-idle);
  width: 13.8rem;
  height: 15.2rem;
  
  border: none;
  border-radius: 2.0rem;
  
  cursor: pointer; 
}

.hide {
  display: none;
}

.is-selected, .is-selected svg path {
  background-color: var(--bg-card-active);
  fill: var(--icon-card-active);
}